.carduser-name-user {
    font-weight: bold;
    font-size: 16px;
}
.avatar {
    vertical-align: middle;
    border-radius: 5px;
}
.avatar-card-user {
    height: 100px;
    border-radius: 20px;
}

.Star-of-user {
    /* text-align: center; */
}