.input-form {
    width: 100%; 
    padding: 10px 20px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    outline: none;
    font-size: 12px;
}

.input {
    margin: 10px 0;
}
.error {
    border: 1px solid #EF4836;
}

.input label span {
    color: #EF4836; 
}

.input > span {
    color: #EF4836;
    font-size: 12px;
    float: left;
    margin-bottom: 10px;
}

.input label {
    font-weight: 700;
    font-size: 14px;
    display: block;
    clear: both;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}